{% extends 'layout.html' %}
{% block css %}
#container {
  position: relative;
  timeline-scope: --container;
}

#my_path {
  view-timeline: --container;
}

#car {
  position: absolute;
  inset: 0;

  offset-path: url(#my_path);
  animation: offsetDistance linear(.5, .75, 1) forwards;
  animation-timeline: --container;
  animation-range:
    exit-crossing 50%
    entry-crossing 110%;
}

@keyframes offsetDistance {
  from {
    offset-distance: 50%;
  }
  to {
    offset-distance: 100%;
  }
}
{% endblock %}

{% block content %}
<section  class="flex w-full justify-start">
    <div class="flex flex-col items-center bg-[#D9C2A7] border border-[#040D02] rounded-lg shadow md:flex-row w-2/3 hover:bg-gray-100">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/static/headshot_transparent.png" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#203359]">Kevin Denny</h5>
            <h5 class="mb-2 text-l font-medium tracking-tight text-[#203359]">Data Analyst and Python Web Developer</h5>
            <p class="mb-3 font-normal text-[#46658C]">With 12 years in data analysis, I focus on creating interactive,
                cloud-based web apps that make data accessible and actionable. Using Python, I leverage Pandas for data
                analysis and cleaning, and frameworks like Flask and Sanic for efficient web development, combining data
                insights with seamless user experiences.</p>
        </div>
    </div>
</section>

<section id="container" class="flex w-full justify-end ">
    <div class="w-full h-auto">
        <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd" transform="translate(50 0)">
                <path id="my_path" d="M 0 0 Q 0 50 50 50" stroke="#D9C2A7" stroke-width="6" vector-effect="non-scaling-stroke" fill="none"/>
                <circle id="car" r="3" fill="#979797" >
                </circle>
            </g>
        </svg>
    </div>
    <div class="grid grid-cols-1 items-center mt-10 bg-[#D9C2A7] border border-[#040D02] rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <h5 class="mb-2 p-4 text-2xl font-bold tracking-tight text-[#203359]">History</h5>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-l font-medium tracking-tight text-[#203359]">US Navy: Analyst</h5>
            <p class="mb-3 font-normal text-[#46658C]">Developed a new process for tracking units of interest, by exploring multiple data sources and analyzing transit activity</p>
            <p class="mb-3 font-normal text-[#46658C]">Compiled over 500 data-driven reports that impacted tactical decision-making</p>
        </div>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-l font-medium tracking-tight text-[#203359]">Life Center: Data Analyst</h5>
            <p class="mb-3 font-normal text-[#46658C]">Developed a new process for tracking units of interest, by exploring multiple data sources and analyzing transit activity</p>
            <p class="mb-3 font-normal text-[#46658C]">Compiled over 500 data-driven reports that impacted tactical decision-making</p>
        </div>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-l font-medium tracking-tight text-[#203359]">Support Works Housing: Data Analyst</h5>
            <p class="mb-3 font-normal text-[#46658C]">Developed a web app that compiled 20 spreadsheets into a single easy to maintain system used to monitor and manage grant budgets</p>
            <p class="mb-3 font-normal text-[#46658C]">Developed more than 10 ETL processes to streamline data processing and aid in the transition to a new software vendor.</p>
            <p class="mb-3 font-normal text-[#46658C]">Produced over 100 adhoc reports facilitating grant renewals and talking points</p>
        </div>
    </div>
</section>

<section class="flex w-full justify-start ">

    <div class="relative grid grid-cols-1 items-center mt-10 md:flex-row md:max-w-xl ">
        <div class="bg-[#D9C2A7] border border-[#040D02] rounded-lg shadow z-50 h-full">
            <h5 class="p-4 text-2xl font-bold tracking-tight text-[#203359]">Projects</h5>
            <ul>
                <li class="drawer flex flex-row border-t border-[#040D02] justify-between mx-4 py-4 hover:bg-gray-100 leading-normal">
                    <img src="/static/projects/pizza/admin_dash.png" class="w-24 object-contain mr-3" alt="...">
                    <div class="flex flex-col">
                        <h5 class="mb-2 text-l font-medium tracking-tight text-[#203359]">Online Ordering System for Restaurants</h5>
                        <p class="mb-3 font-normal text-[#46658C]">A site for a fictional pizza restaurant where managers can customize their menu and customers can order their meal.</p>
                    </div>
                </li>
                <li class="flex flex-col border-t border-[#040D02] justify-between mx-4 py-4 hover:bg-gray-100 leading-normal">
                    <h5 class="mb-2 text-l font-medium tracking-tight text-[#203359]">Life Center: Data Analyst</h5>
                    <p class="mb-3 font-normal text-[#46658C]">Developed a new process for tracking units of interest, by exploring multiple data sources and analyzing transit activity</p>
                    <p class="mb-3 font-normal text-[#46658C]">Compiled over 500 data-driven reports that impacted tactical decision-making</p>
                </li>
                <li class="flex flex-col border-t border-[#040D02] justify-between mx-4 py-4 hover:bg-gray-100 leading-normal">
                    <h5 class="mb-2 text-l font-medium tracking-tight text-[#203359]">Support Works Housing: Data Analyst</h5>
                    <p class="mb-3 font-normal text-[#46658C]">Developed a web app that compiled 20 spreadsheets into a single easy to maintain system used to monitor and manage grant budgets</p>
                </li>
            </ul>
        </div>
        <!-- drawer -->
        <div id="project-drawer" data-status="closed" class="absolute w-full h-full p-4 overflow-y-auto bg-[#6997BF] border border-[#040D02] rounded-lg" tabindex="-1" aria-labelledby="project-label">
            <h5 id="project-label" class="inline-flex items-center mb-4 text-base font-semibold text-[#203359] dark:text-gray-400"><svg class="w-4 h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>Online Ordering System for Restaurants</h5>
            <button type="button" aria-controls="project-drawer" class="close-project text-[#203359] bg-transparent hover:bg-gray-200 hover:text-[#46658C] rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center" >
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close menu</span>
            </button>

            <!-- Carousel -->
            <div id="default-carousel" class="relative bg-gray-700 w-full" data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="relative h-56 overflow-hidden rounded-lg md:h-80">
                     <!-- Item 1 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="/static/projects/pizza/admin_dash.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 2 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="/static/projects/pizza/capstone_analytics.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 3 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="/static/projects/pizza/menu_management.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 4 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="/static/projects/pizza/ordering_page.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                </div>
                <!-- Slider indicators -->
                <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                </div>
                <!-- Slider controls -->
                <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
            <div class="my-2">
                <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Python</span>
            </div>
            <p class="mb-6 text-sm text-[#203359]">This was a capstone project for my bachelors degree. I worked with 3 other students using the SCRUM methods to manage our project. My role was to develop the menu customization system and the backend for the project.  </p>
            <div class="grid grid-cols-2 gap-4">
                <a href="#" class="px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Learn more</a>
                <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Get access <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg></a>
            </div>
        </div>
    </div>
    <!-- connecting line -->
    <div class="w-full h-auto -z-40">
        <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
            <path id="lineAC" d="M 50 0 Q 50 50 0 50" stroke="#D9C2A7" stroke-width="6" vector-effect="non-scaling-stroke" fill="none"/>
        </svg>
    </div>
</section>

{% endblock %}
{% block scripts %}
    <script src="/static/scripts/index.js"></script>
{% endblock %}